<div id="navbar">

	<a class="nav-item navtext" href="/">Home</a>

	<a class="nav-item navtext" href="/downloads/resume_camjenner.pdf">Resume</a>
	<a class="nav-item" href="https://github.com/cjenner37">
		<img class="link-icon" src="images/GitHub-Mark-Light-64px.png" alt="GitHub">
	</a>
	<a class="nav-item" href="https://www.linkedin.com/in/cameron-jenner/">
		<img class="link-icon" src="images/In-White-66px-R.png" alt="LinkedIn">
	</a>
</div>
<div class="body-container">
	<div class="about-container">
		<div class="about-block">
			I'm an adventure seeker. I think the purpose of life is to experience what we can while we're here. I think that because both real-world events and imaginative experiences are processed in the same place (your mind), both are equipped to impact your life in large ways, and so to understand is to experience. My goal is to learn, connect, and grow, so that I may understand as many perspectives as I can.
		</div>
		<div class="about-block">
			<h3>My Hobbies Include</h3>
			<ul>
				<li>skiing when I can afford it</li>
				<li>pond hockey when I can find it</li>
				<li>slacklining when I can string it</li>
				<li>calisthenics workouts almost every day</li>
				<li>backpacking in inspiring places</li>
				<li>playing guitar and piano</li>
				<li>making written, drawn, or code-based art when I feel inspired</li>
				<li>and reading and studying, which I wish I could do all the time.</li>
			</ul>
		</div>
		<div class="about-block">
			<h3>Noteable Accomplishments</h3>
			<p>
				I started an activist chapter of the organization, Anonymous for the Voiceless, in Salt Lake City, Utah, in May 2017. After gaining interest through local social media areas of interest, I organized potlucks and meetings with a scattered group of passionate individuals. The group now steadily holds one or two activist "Cube of Truth" events monthly.
			</p>
			<p>
				When I was 17 years old I did my first solo backpacking trip. As a high school senior project, I was able to use family airline miles to fly to Ireland, where for three weeks I experimented with travel writing, staying in hostels, walking, biking, and taking public transportation to see the majority of Southern Ireland.
			</p>
			<p>
				When I was 19 years old I did my second solo backpacking trip, this time to Peru, again on foot and in hostels, where for one month I stretched my Spanish language skills, visited some of the many incredible archeological sites there, including Machu Picchu, partied with travelers from around the world, and caught the travel bug.
			</p>
		</div>
		<div class="about-block">
			<h3>Code</h3>
			<p>
				After deciding that a carreer in mechanical engineering wasn't the path for me, I spent a lot of time seriously looking at myself, my skills, my passions, and my dreams. Many paths led to writing code, especially web development. I love that it's about continual self-education, I love that it's about breaking big problems into manageable pieces, and I love how creative, dynamic, and diverse this field can be. 		
			</p>
		</div>
	</div>
</div>