<div id="navbar">

	<a class="nav-item navtext" href="/">Home</a>

	<a class="nav-item navtext" href="/downloads/resume_camjenner.pdf">Resume</a>
	<a class="nav-item" href="https://github.com/cjenner37">
		<img class="link-icon" src="images/GitHub-Mark-Light-64px.png" alt="GitHub">
	</a>
	<a class="nav-item" href="https://www.linkedin.com/in/cameron-jenner/">
		<img class="link-icon" src="images/In-White-66px-R.png" alt="LinkedIn">
	</a>
</div>
<div class="body-container">
	<div class="about-container">
		<div class="about-block">
			I think the purpose of life is to experience what we can while we're here. I'm driven by responsibility and productivity, and nothing makes me happier than seeing myself and those around me seek and find self-improvement. My goal is to learn, connect, and grow, so that I may understand as many perspectives as I can.
		</div>
		<div class="about-block">
			<h3>My Hobbies Include</h3>
			<ul>
				<li>casual sports like skiing, pond hockey, slacklining, climbing, and more</li>
				<li>calisthenics workouts, focusing on gymnastics skills</li>
				<li>backpacking in inspiring places</li>
				<li>playing guitar and piano</li>
				<li>making written, drawn, or code-based art when I feel inspired</li>
				<li>and reading and studying, which I wish I could do all the time.</li>
			</ul>
		</div>
		<div class="about-block">
			<h3>Noteable Accomplishments</h3>
			<p>
				In May 2017 I started the Salt Lake City, Utah, branch of the conversational and marketing approach-based activist organization, Anonymous for the Voiceless. After creating a Facebook page for general animal rights activism in Salt Lake and gaining interest through local social media accounts, I organized potlucks and meetings with a scattered group of passionate people. The group now has a strong core of activists and steadily holds multiple Cube of Truth events every month. 
			</p>
			<p>
				When I was 17 I did my first solo backpacking trip. For a high school senior project, I was able to use family airline miles to visit Ireland and write about my experience. For three weeks I walked, biked, took busses and trains and taxis, stayed in hostels and made friends with other travelers, and saw the beauty of the southern half of the country. 
			</p>
			<p>
				When I was 19 years old I did my second solo backpacking trip. This time I went to Peru for one month, again on foot and in hostels. I stretched my Spanish language skills, visited some of the many incredible archeological sites there, including Machu Picchu, partied with travelers from around the world, and sated my travel bug, for a while.
			</p>
		</div>
		<div class="about-block">
			<h3>Code</h3>
			<p>
				After deciding that a career in mechanical engineering wasn't the path for me, I spent a lot of time seriously looking at myself, my skills, my passions, and my dreams. Many paths led to writing code, especially web development. I love that it's about continual self-education, I love that it's about breaking big problems into manageable pieces, and I love how creative, dynamic, and diverse this field can be. I'm seeing the skills I've learned transfer beyond code to everyday life.
			</p>
			<p>
				My original motivation for learning to code was to model natural systems, like the growth of a plant, which works according to simple rules, or the flow of water and the erosion of sandstone. In southern Utah you'll see slot canyons which were carved by water. They have braided patterns along the walls. The water leaves braids within braids as it twists through the rock. One day I hope to be able to use my computer skills to study and model these things: the fibonacci ratios in plants and their growth patterns, and the fluid dynamics of water.
			</p>
			<p>
				I'm passionate about business. Web development is great because the internet is one of the most powerful business tools out there, and it's only growing in importance. It's satisfying to build solutions out of code. You can convey so much about an organization with strategic UI/UX, and building creative systems that do what you need and stay out of your way is really rewarding.
			</p>
		</div>
	</div>
</div>