<div class="hero">
	<div id="title-wrapper">
		<div id="name">Cameron Jenner</div>
		<div id="title">Junior Web Developer</div>
	</div>
	<img src="images/face.jpg" alt="Cameron Jenner" id="hero-image">
</div>

<div id="section-1">
	<div class="preview-image" id="preview-image-1">
		<img src="images/wheel-preview.png" alt="Wheel of Fortune">
	</div>
	<div class="preview-text">
		<h3>Wheel of Fortune</h3>
		<p>In-browser game to showcase Javascript understanding</p>
	</div>
</div>
<div id="section-2">
	<div class="preview-image" id="preview-image-2">
		<img src="images/" alt="Rails Forum">
	</div>
	<div class="preview-text">
		<h3>Rails Forum</h3>
		<p>Rails app built with Devise and Bootstrap</p>
	</div>
</div>
<div id="section-3">
	<div class="preview-image" id="preview-image-3">
		<img src="images/" alt="Movie Review Platform (Filmspark)">
	</div>
	<div class="preview-text">
		<h3>Filmspark</h3>
		<p>A movie review sharing platform built with Devise and MaterializeCSS, using Rails UJS for ajax calls</p>
	</div>
</div>