<div class="hero">
	<div id="title-wrapper">
		<div id="name">Cameron Jenner</div>
		<div id="title">Web Developer</div>
	</div>
	<img src="images/face.JPG" alt="Cameron Jenner" id="hero-image">
</div>

<div class="section welcome">
	<div class="welcome-text">
		<p>Welcome to my portfolio. It is currently a work in progress, but please feel free to follow the links below to learn more about me! If you'd like to connect, please contact me at cjenner37@gmail.com</p>
	</div>
</div>

<div id="navbar">

	<!-- <a class="nav-item navtext" href="/about">About</a> -->

	<a class="nav-item navtext" href="/downloads/camjenner-resume-2017.pdf">Resume</a>
	<a class="nav-item" href="https://github.com/cjenner37">
		<img class="link-icon" src="images/GitHub-Mark-Light-64px.png" alt="GitHub">
	</a>
	<a class="nav-item" href="https://www.linkedin.com/in/cameron-jenner/">
		<img class="link-icon" src="images/In-White-66px-R.png" alt="LinkedIn">
	</a>
</div>

<div class="section section-a" id="section-1">
	<!-- <div class="preview-image" id="preview-image-1">
		<a href="https://cam-wheel-of-fortune.herokuapp.com/"><img src="images/wheel-preview.png" alt="Wheel of Fortune"></a>
	</div> -->
	<div class="preview-text">
		<a href="https://cam-wheel-of-fortune.herokuapp.com/"><h3>Wheel of Fortune</h3></a>
		<p>In-browser game to showcase Javascript understanding</p>
	</div>
</div>
<div class="section section-b" id="section-2">
	<!-- <div class="preview-image" id="preview-image-2">
		<a href="https://cam-rails-blog.herokuapp.com/"><img src="images/" alt="Rails Forum"></a>
	</div> -->
	<div class="preview-text">
		<a href="https://cam-rails-blog.herokuapp.com/"><h3>Rails Forum</h3></a>
		<p>Rails app built with Devise and Bootstrap</p>
	</div>
</div>
<div class="section section-a" id="section-3">
	<!-- <div class="preview-image" id="preview-image-3">
		<a href="https://filmspark.herokuapp.com/"><img src="images/" alt="Movie Review Platform (Filmspark)"></a>
	</div> -->
	<div class="preview-text">
		<a href="https://agile-crag-54217.herokuapp.com/"><h3>Filmspark</h3></a>
		<p>A movie review sharing platform built with Devise and MaterializeCSS, using Rails UJS for ajax calls</p>
	</div>
</div>