<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cameron Jenner | Web Developer</title>
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
	<%= yield %>
</body>
</html>