body {
	margin: 0;
}

.hero {
	max-height: 470px;
	overflow: hidden;
	position: relative;
	box-shadow: 0px 0px 8px grey;
}

.hero img {
	width: 100%;
	margin-top: -14%;
}

#title-wrapper {
	position: absolute;
	top: 30px;
	left: 12%;
	font-family: helvetica;
	color: lightgrey;
	text-shadow: 1px 1px 2px black;
}

#name	{
	font-size: 50px;
}

#title {
	font-size: 26px;
}

.section {
	display: flex;
	height: 317px;
	
}

.section-a {
	background-color: #edeeef;

}

.section-b {

}

.preview-image {
	height: 200px;
	width: 200px;
	margin: auto;
}

.preview-image img {
	height: 100%;
	box-shadow: 1px 1px 4px lightgrey;
	border-radius: 5px;
}

.preview-text {
	margin: auto;
	margin-left: -10%;
	text-align: center;
	font-size: 35px;
	color: rgba(26, 26, 26, 0.9);
}

.preview-text p {
	font-family: helvetica;
	font-size: 15px;
	color: rgba(26,26,26,.6);
}

.preview-text a {
	text-decoration: none;
}

h3 {
	color: rgba(26, 26, 26, 0.9);
}

a:hover {
	text-shadow: 1px 1px 1px grey;
}